// app global css

// @import  '../../node_modules/tailwindcss/preflight'
// @import  '../../node_modules/tailwindcss/components'
// @import  '../../node_modules/tailwindcss/utilities'



// @import "./tailwind/_tailwind.css"
// @import "./tailwind/_tailwind.css"

// @import './tailwind/styles.css'

// @import './tailwind/_preflight'
// @import './tailwind/_components'
// @import './tailwind/_utilities'

// @tailwind preflight
// @tailwind components
// @tailwind utilities
// @tailwind preflight;
// @tailwind utilities;

// @import 'tailwind/index'

// @import "./tailwindOutput.css";